@import url("@fontsource-variable/inter");
@import "main.css";

body {
  font-family: "Inter Variable", sans-serif;
}

.bg-stripes-gray {
  background-image: linear-gradient(
    135deg,
    rgba(131, 131, 168, 0.5) 10%,
    #0000 0,
    #0000 50%,
    rgba(117, 117, 148, 0.5) 0,
    #6366f180 60%,
    #0000 0,
    #0000
  );
  background-size: 7.07px 7.07px;
}

.__histoire-render-story:not(.__histoire-render-custom-controls) {
  overflow: visible;
}
